  .my-pagination ::ng-deep .ngx-pagination .current {
    background: #15803D;
    border-radius: 7px;
  }
  .my-pagination ::ng-deep .ngx-pagination a{
    border-radius: 7px;
    margin-right: 5px;
  }