<main class="bg-gradient-to-br from-green-600 to-green-400 text-white">

  <section class="px-5 py-20 container mx-auto ">

    <!-- Breadcrumb -->
    <div class="text-sm mb-5">
      <div class="flex gap-2 flex-wrap">

        <div class="flex items-center gap-1">
          <i class="fa-solid fa-house"></i>
          <div>Home</div>
        </div>

        <div>/</div>

        <div class="flex items-center gap-1">
          <i class="fa-solid fa-tag"></i>
          <div>Brands</div>
        </div>

        <div>/</div>

        <h3 class="font-bold">
          SONY
        </h3>

      </div>
    </div>

    <!-- Brand Info -->
    <div class="flex items-center gap-4">

      <!-- Logo -->
      <div class="w-16 h-16 bg-white/20 rounded-xl flex items-center justify-center">
        <img src="/srcimag/1678286680638.png" class="w-10">
      </div>

      <!-- Text -->
      <div>
        <div class="text-2xl font-bold">
          SONY
        </div>

        <div class="text-white/80">
          Shop SONY products
        </div>
      </div>

    </div>

  </section>

</main>